<%= link_to 'Back', root_path, class: "link back" %>
<% if admin? %>
  <%= link_to 'Create Item Listing', new_item_path, class: "button" %>
<% end %>


<ul>
    <% @items.each do |item| %>
    <div class = "col-33">
      <div class="item-index">
          <a href=<%= item_path(item)%>> <%= image_tag item.image_url, class: :image %><%= item.title %></a>
      </div>
    </div>
    <% end %>
</ul>
