<div class="top-div">
<img class="show-image" src="<%= @item.image_url%>" alt="No available image"></img>
<h1><%= @item.title %></h1>
<h3><%= @item.description %></h3>
<p>$ <%= @item.cost %></p>
<p>Left in stock: <%= @item.stock %></p> 
<% if admin? %>
<%= link_to 'Back', items_path, class: "link back" %>   
    <%= link_to 'Edit this item', edit_item_path(@item), class: :edit %> 
    <%= link_to 'Delete this item', item_path(@item), method: 'delete', class: 'link delete' %>
<% else %>
    <%= form_for(@transaction, url: item_purchase_path(@item)) do |f| %>
        <%= f.label :quantity %>
        <%= f.number_field :quantity, value: 1 %>
        <%= link_to 'Back', items_path, class: "link back" %>  
        <%= f.submit 'Purchase', class: :button %>
    <% end %>
    <br>
    <br>
    <%= link_to 'Create a comment', new_item_comment_path(@item) %> |
    <%= link_to 'View comments', item_comments_path(@item), class: 'comment-link' %>
<% end %>
</div>