<!DOCTYPE html>
<html>
  <head>
    <title>OnlineStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Linked fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Thasadith" rel="stylesheet">  
    <!-- Customized Style Sheet-->
    <%= stylesheet_link_tag 'style.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="overlay">
      <ul class="navbar">
        <li><a href="/" id="hey">Home</a></li>
        <li><a href="/items" class="shop-link">Shop</a></li>
        <% if current_user %>
          <li class="profile"><a href="/users/<%= session[:user_id]%>"><%= current_user.name %></a></li>
        <% else %>
          <li class="profile"></li>
        <% end %>
        </ul>
      <div class="wrapper clearfix">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
